*{
    list-style: none;
    margin: 0;
    padding: 0;


}
.fl{
    float: left;}
.fr{
    float: right;}
.bo{
    margin:0 auto;text-align:left;
    width:800px;
    margin:0 auto;
        position: relative;
    }
.space{height:60px;width: 100%;}
.left_l{height:auto;background-color: #2e6da4;}
.right_l{height:auto;background-color:darkred;}

//头像
.myicon{ width: 60px;height:60px;}
.myicon img{width:100%;height: auto;}


// 个人简历
.mymes span{padding: 30px;font-size: 25px;line-height: 25px;}